@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(../public/fonts/Lausanne-500.woff2);
}


.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moveLink{
    opacity: 0;
    transition: all ease 0.3s;
}

.link:hover .moveLink{
    opacity: 1;
}

@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.perspective-1000 {
  perspective: 1000px;
}

@keyframes gradient-slow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

